
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="companies">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="headline">Kampaniyalar </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-1.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-2.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-3.webp">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-4.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-5.webp">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-6.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-7.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="campaign-item">
                        <div class="row">
                            <div class="col-5">
                                <a href="#">
                                    <div class="img-holder">
                                        <img src="img/companies/campaign-8.webp">
                                    </div>
                                </a>
                            </div>
                            <div class="col-7">
                                <a class="campaign-title" href="#">Üzünü görək!</a>
                                <div class="date">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/calendar.png">
                                    <span>İyun 2, 2021</span>
                                </div>
                                <p>
                                    Sevindirən qərarlardan ilhamlanaraq biz də səni sevindirmək qərarına gəldik! 🤩 1 iyundan 6 iyunadək “”Üzünü görək”” kampaniyasında 50%-dək..

                                </p>
                                <a href="#" target="_blank" class="more">
                                    <p>ətraflı</p>
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.823 240.823" style="enable-background:new 0 0 240.823 240.823;" xml:space="preserve">
                                    <g>
                                    <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
                                                                               l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
                                                                               C52.942,116.507,52.942,124.327,57.633,129.007z"></path>
                                        </g>
                                        </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

