@model Bio
@{
    Layout = null;
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}
<header>
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 pl-0">
                    <div class="menu">
                        <ul>
                            <li><a asp-controller="Companies" asp-action="Index">Kampaniyalar</a></li>
                            <li><a asp-controller="Cooperation" asp-action="Index">Korporativ satışlar</a></li>
                            <li><a asp-controller="Shops" asp-action="Index">Mağazalar</a></li>
                            <li><a asp-controller="Services" asp-action="Index">Servislər</a></li>
                            <li><a asp-controller="Faq" asp-action="Index">Tez-tez verilən suallar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 pr-0">
                    <div class="info">
                        <ul>
                            <li>
                                <a href="https://hesab.az/unregistered/#/direct-pay/store/kontakthome/parameters?portalPay=kontakt&lang=az"
                                   rel="nofollow" target="_blank">
                                    <div class="icon">
                                        <img class="lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/payment.png"
                                             alt=""
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/payment.png"
                                             data-was-processed="true">
                                        <img class="active lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/payment-red.png"
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/payment-red.png"
                                             data-was-processed="true">
                                    </div>
                                    <span>Aylıq Ödəniş</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <div class="icon">
                                        <img class="lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/heart.png"
                                             alt=""
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/heart.png"
                                             data-was-processed="true">
                                        <img class="active heartred lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/heart-red.png"
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/heart-red.png"
                                             data-was-processed="true">
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <div class="icon">
                                        <img style="height:23px" class="lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/comparisonnew2.png"
                                             alt=""
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/comparisonnew2.png"
                                             data-was-processed="true">
                                        <img style="height:23px" class="active lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/comparisonnew-red-2.png"
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/comparisonnew-red-2.png"
                                             data-was-processed="true">
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <div class="icon">
                                        <img class="lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/mob.png"
                                             alt=""
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/mob.png"
                                             data-was-processed="true">
                                        <img class="active mobred lazy loaded"
                                             data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/mob-red.png"
                                             src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/mob-red.png"
                                             data-was-processed="true">
                                    </div>
                                    <span>*6060</span>
                                </a>
                            </li>

                            <li class="lang_list_item">
                                <a href="">
                                    <img class="lazy loaded"
                                         data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/azerbaijan-flag-round-icon-256.png"
                                         alt=""
                                         src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/azerbaijan-flag-round-icon-256.png"
                                         data-was-processed="true">
                                </a>
                            </li>

                            <li class="lang_list_item">
                                <a href="">
                                    <img class="lazy loaded"
                                         data-src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/russia-flag-round-icon-256.png"
                                         alt=""
                                         src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/russia-flag-round-icon-256.png"
                                         data-was-processed="true">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @if (controller == "Home")
    {
        <section id="navbar">
            <div class="container">
                <div class="row nav">
                    <div class="col-lg-1 col-md-1 pl-0 v-mob menu">
                        <button class="menu-icon-mob active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 pl-0">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="https://kontakt.az/wp-content/uploads/2020/06/k2020.png" alt="Kontakt Home"
                                     style="height:41px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-7">
                        <form class="search-form" id="menu-search-form">
                            <div class="form-group mb-0">
                                <input type="text" id="title-search-input" class="form-control title-search-input"
                                       name="s" placeholder="Axtarış..." autocomplete="off">
                                <button type="submit" class="search">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/search.png">
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 login-cart pr-0">
                        <ul class="mb-0">
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="Account" asp-action="Logout" id="id_my_profile">
                                        <i class="fa fa-user" style="color: white;padding: 10px 5px 15px 5px;font-size: 31px;"></i><span>@User.Identity.Name</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login" id="id_sign_up">
                                        <img src="https://kontakt.az/wp-content/uploads/2020/04/Enter.png" alt=""
                                             class="access">
                                        <span>Daxil ol</span>
                                    </a>
                                }

                            </li>
                            <li>
                                <a href="basket.html">
                                    <img src="https://kontakt.az/wp-content/uploads/2020/04/sebet.png" alt="">
                                    <span>Səbət</span>
                                    <span class="count cart_count">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <section id="navbar">
            <div class="container">
                <div class="row nav">
                    <div class="col-lg-1 col-md-1 pl-0 v-mob menu">
                        <button class="menu-icon-mob active">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 pl-0">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="https://kontakt.az/wp-content/uploads/2020/06/k2020.png" alt="Kontakt Home"
                                     style="height:41px">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 header-inner-menu">
                        <div class="section-menu">
                            <button type="button" class="menu-icon">
                                <div class="burger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <p>Məhsul Kataloqu</p>
                            </button>
                        </div>
                    </div>
                    <section id="sidebars" class="sidebar-section">
                        <div class="container">
                            <div class="row">
                                <div class="left-sidebar">
                                    @await Component.InvokeAsync("Sidebar")
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="col-xl-4 col-lg-7 col-md-7">
                        <form class="search-form" id="menu-search-form">
                            <div class="form-group mb-0">
                                <input type="text" id="title-search-input" class="form-control title-search-input"
                                       name="s" placeholder="Axtarış..." autocomplete="off">
                                <button type="submit" class="search">
                                    <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/search.png">
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-2 login-cart pr-0">
                        <ul class="mb-0">
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <a id="id_my_profile" href="">
                                        <i class="fa fa-user" style="color: white;padding: 10px 5px 15px 5px;font-size: 31px;display:block;"></i><span>@User.Identity.Name</span>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Login" id="id_sign_up">
                                        <img src="https://kontakt.az/wp-content/uploads/2020/04/Enter.png" alt=""
                                             class="access">
                                        <span>Daxil ol</span>
                                    </a>
                                }

                            </li>
                            <li>
                                <a href="#">
                                    <img src="https://kontakt.az/wp-content/uploads/2020/04/sebet.png" alt="">
                                    <span>Səbət</span>
                                    <span class="count cart_count">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="header-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Əsas səhifə</a>
                            </li>
                            @if (controller == "Cooperation")
                            {
                                <li>Korporativ satışlar</li>
                            }
                            else if (controller == "Shops")
                            {
                                <li>Mağazalar</li>
                            }
                            else if (controller == "Services")
                            {
                                <li>Servislər</li>
                            }
                            else if (controller == "Faq")
                            {
                                <li>Tez-tez verilən suallar</li>
                            }
                            else if (controller == "Account")
                            {
                                <li>Qeydiyyat</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div id="header-breadcrumb-after"></div>
        </section>
    }

</header>
