
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="cooperation">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="static">
                        <h1 class="page-header mb-2">Korporativ satışlar</h1>
                        <div class="page-entry">
                            <p>Biz müxtəlif növ yüksək keyfiyyətli rəqəmsal və məişət texnikasının, həmçinin mebellərin pərakəndə satışını həyata keçirir.&nbsp; Azərbaycan bazarında qısa müddət ərzində aparıcı mövqelərdən birini tutaraq, korporativ müştərilərimizin sayını 2000-in üzərinə çıxartdıq və günü gündən artmaqda davam edirik.</p>
                            <p>&nbsp;</p>
                            <p>Sizə əməkdaşlıq təklif edir:</p>
                            <ol>
                                <li>Korporativ müştərilərə kreditlə satış&nbsp; xidməti</li>
                                <li>Telefon, notbuk, kondisioner, mikrodalğalı soba, dispenser və bu kimi bütün ofis avadanlıqlarını&nbsp; köçürmə ilə əldə etmək imkanı;</li>
                                <li>Bizimlə əməkdaşlıq zamanı ödənişlərinizi köçürmə yolu ilə edə bilmək imkanı;</li>
                                <li>Əməkdaşlıq etdiyimiz şirkətlər üçün xüsusi endirimli qiymətlər;</li>
                                <li>Saytımızda əks olunan məhsullarla yanaşı, orada mövcud olmayan məhsulları belə öncədən sifarişlə əldə edə bilmə imkanı;</li>
                                <li>Telefon zəngi və ya elektron poçtla sifariş vermə imkanı;</li>
                            </ol>
                            <p>&nbsp;</p>
                            <p>Bizimlə əməkdaşlıq etmək üçün aşağıdakı əlaqə vasitələrindən sizə uyğun olanını seçə bilərsiniz:</p>
                            <p>&nbsp;</p>
                            <p>Bizə zəng etməklə:</p>
                            <p>+994512505089</p>
                            <p>+994512505095</p>
                            <p>+994512013990</p>
                            <p>&nbsp;</p>
                            <p>Poçt ünvanımıza yazmaqla:</p>
                            <p><a href="mailto:corporate-sales@abc-telecom.az">corporate-sales@abc-telecom.az</a></p>
                            <p>&nbsp;</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

