@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="content">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Kategoriya yaratmaq</h5>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group form-group-float">
                        <input asp-for="Name" class="form-control" placeholder="Kategoriyanın Adı">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Title" rows="4" cols="4" class="form-control" placeholder="Kateqoriyanin təsvirini daxil edin"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsMain" class="mb-0">Əsas:</label>
                        <input asp-for="IsMain">
                        <span class="text-danger" asp-validation-for="IsMain"></span>
                    </div>
                    <div class="form-group row d-none" id="photo">
                        <div class="col-lg-6">
                            <input asp-for="Photo" class="file-input-custom" data-show-caption="true" data-show-upload="true" accept="image/*" data-fouc>
                        </div>
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="mb-3 my-3" id="mainCategory">
                        <p class="mb-2">
                            <select data-placeholder="Əsas Kategoriya Seç" name="MainCtgId" class="form-control select-access-value select2-hidden-accessible" data-fouc="" tabindex="-1" aria-hidden="true">
                                <option></option>
                                @foreach (Category mainCtg in ViewBag.MainCtg)
                                {
                                    <option value="@mainCtg.Id">@mainCtg.Name</option>
                                }

                            </select>
                        </p>
                    </div>

                    <button type="submit" class="btn bg-blue">Submit <i class="icon-paperplane ml-2"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <partial name="_ValidationPartial" />
    <script>
        $(document).on("change", "#IsMain", function () {
            if ($(this).prop("checked")) {
                $("#photo").removeClass("d-none");
                $("#mainCategory").addClass("d-none");
            }
            else {
                $("#photo").addClass("d-none");
                $("#mainCategory").removeClass("d-none");
            }
        });

        $(document).ready(function () {
            //console.log($("#IsMain"))
            if ($("#IsMain").attr("checked") == "checked") {
                if ($("#IsMain").prop("checked")) {
                    $("#photo").removeClass("d-none");
                    $("#mainCategory").addClass("d-none");
                }
                else {
                    $("#photo").addClass("d-none");
                    $("#mainCategory").removeClass("d-none");
                }
            }
        })
    </script>
}

