
@{
    ViewData["Title"] = "Index";
}
<main>
    <section id="faq">
        <div class="container">
            <h1>Sual və cavablar </h1>
        </div>
        <div class="accordion-menu">
            <div class="container">
                <ul>
                    <li class="active">
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>
                            Sizdən Hissə-hissə ödənişlə məhsul almaq mümkündür?
                        </h5>
                    </li>
                    <div class="content active">
                        <p>Bəli, Siz məhsulları 24 ayadək hissə-hissə ödəniş şərtlərilə əldə edə bilərsiniz. Əksər məhsullar 18 ayadək Faizsiz hissə-hissə ödəniş şərtlərilə, İlkin ödənişsiz, iş yerindən arayış tələb olunmadan təqdim olunur.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Alınan malın ödənişi hansı valyuta ilə hesablanır?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Kontakt Home mağazalarından istər nağd, istərsə də hissə-hissə ödənişlə əldə olunan bütün məhsulların ödənişi yalnız Azərbaycan Respublikasının milli valyutası – Azərbaycan manatı ilə hesablanır.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Onlayn sifariş hansı Şəhərlərdə keçərlidir?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Hazırda onlayn sifariş və çatdırılma xidməti Bakı, Abşeron, Sumqayıt, Gəncə (Samux, Goranboy, Goran, Gədəbəy, Daşkəsən, Şəmkir, Göygöl, Naftalan, Dəliməmmədli), Qəbələ (Şəki, Oğuz, İsmayıllı), Mingəçevir (Yevlax, Ağdaş və Göyçay), Masallı (Cəlilabad, Yardımlı, Lerik, Lənkəran, Astara), Quba (Qusar, Xaçmaz, Xudat, Şabran, Siyəzən) və Bərdə daxili keçərlidir.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Sifariş edilən məhsul neçə günə çatdırılır?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Sifarişiniz onlayn satış təmsilçisinin zəng edib məhsulu adınıza rəsmiləşdirməsi ilə yekunlaşır. Kiçik məişət texnikası, 32 düym və daha kiçik TV, rəqəmsal məhsul və ya aksessuar əldə etdiyiniz təqdirdə, sifarişiniz növbəti gün ərzində ünvana çatdırılacaq. Lakin qeyd edək ki, məhsul yalnız bölgə mağazalarımızda olsa və həmin mağazadan satış edilsə çatdırılma məsafə ilə əlaqədar 14 gün ərzində həyata keçirilə bilər.</p>
                        <p>32 düymdən böyük TV və ya böyük məişət texnikası əldə etdiyiniz təqdirdə sifarişiniz nağddırsa növbəti gün ərzində, hissəvi şərtlərlə və ya taksitlə alışdırsa 3 iş günü ərzində ünvanınıza çatdırılacaq. Yekun çatdırılma müddəti barədə sizə zəng zamanı satış mütəxəssisimiz məlumat verəcək.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Hissəvi alış zamanı hansı sənədlər tələb olunur?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Sadəcə şəxsiyyət vəsiqənizlə hissə-hissə ödəniş şərtləri ilə məhsul əldə edə bilərsiniz.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Aylıq ödənişimi onlayn formada necə həyata keçirə bilərəm?
                        </h5>
                    </li>
                    <div class="content">
                        <p>İstifadə etdiyiniz bank kartının imkanlarından asılı olaraq, istənilən Visa və ya Mastercardla ödənişinizi onlayn şəkildə MilliÖn, hesab.az və ya Azərbaycan Respublikasının Mərkəzi Bankının <strong>“AniPay” mobil tətbiqi </strong>vasitəsi ilə vasitəsilə həyata keçirə bilərsiniz. Bunun üçün aşağıdakı linklərdən birinə keçməyiniz kifayətdir:</p>
                        <p>&nbsp;</p>
                        <p><a href="http://www.million.az/attributes/KontaktHome">www.million.az/attributes/KontaktHome</a></p>
                        <p>&nbsp;</p>
                        <p><a href="https://www.bit.ly/hesabaz_KontaktHome">www.bit.ly/hesabaz_KontaktHome</a></p>
                        <p>&nbsp;</p>
                        <p>Aylıq ödənişləri necə həyata keçirməli sualına ətraflı cavab tapmaq üçün <a href="https://bit.ly/Aylıq_Ödəniş">https://bit.ly/Aylıq_Ödəniş</a> linkinə keçməyinizi xahiş edirik. Burada siz aylıq ödənişləri digər hansı üsullarla həyata keçirə biləcəyinizi, FİN (PIN) kod və müqavilə nömrəsi haqqında, həmçinin, taksit kartları ilə alış zamanı ödəniş barədə məlumatı əldə edəcəksiniz.</p>

                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Məhsulu bəyənməsəm geri qaytara bilərəm?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Kontakt Home mağazalarından əldə etdiyiniz məhsulu alınma günü nəzərə alınmamaq şərti ilə, 14 təqvim günü ərzində dəyişdirə və ya qaytara bilərsiniz. Məhsul istifadə edilməyibsə, əmtəə görünüşü pozulmayıbsa, komplektasiyası tamdırsa və satış qəbzi mövcuddursa, geri qaytarılması mümkündür.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>
                            Mağazalarınız harada yerləşir?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Hazırda mağazalarımız Bakı, Sumqayıt, Xırdalan, Gəncə, Masallı, Mingəçevir, Bərdə, Quba və Qəbələdə mağazalarımız mövcuddur. Linkə daxil olmaqla mağazalarımızın ünvanlarını nəzərdən keçirə bilərsiniz</p>
                        <p>&nbsp;</p>
                        <p><a href="https://kontakt.az/magazalar/">https://kontakt.az/magazalar/</a></p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Ən böyük mağazanız hansıdır?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Ən böyük mağazalarımız siyahısına Ukrayna dairəsi və 10-cu mkr Sumqayıt aiddir. Onlar öz seqmentində Qafqazın ən böyük mağazalarıdır&nbsp; və bu mağazalarda sizə geniş məhsul çeşidi təqdim edirik.</p>
                        <p>Mağazalarımızın ünvanına <a href="https://kontakt.az/magazalar/">https://kontakt.az/magazalar/</a> &nbsp;linkinə keçid edib baxa bilərsiniz.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Çatdırılma ödənişsiz həyata keçirilir?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Onlayn sifariş və çatdırılma xidməti pulsuzdur. Yalnız dəyəri 50 AZN-dən az olan sifarişlərin çatdırılması üçün 3 AZN ödəniş tələb olunur.</p>
                    </div>
                    <li>
                        <h5>
                            <span>
                                <svg enable-background="new 0 0 240.823 240.823" version="1.1" viewBox="0 0 240.823 240.823" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <path d="m57.633 129.01l108.3 108.26c4.752 4.74 12.451 4.74 17.215 0 4.752-4.74 4.752-12.439 0-17.179l-99.707-99.671 99.695-99.671c4.752-4.74 4.752-12.439 0-17.191-4.752-4.74-12.463-4.74-17.215 0l-108.3 108.26c-4.679 4.691-4.679 12.511 0.012 17.191z"></path>
                                </svg>
                            </span>Saytınızdan məhsul sifariş etdikdən sonra ləğvi mümkündür?
                        </h5>
                    </li>
                    <div class="content">
                        <p>Bəli, sifarişinizi ləğv etmək istədiyiniz zaman *6060 Çağrı Mərkəzinə zəng edə və yaxud <a href="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/2021/wp.png">https://wa.me/9945082860600508286060</a> rəsmi WhatsApp nömrəmizə yaza bilərsiniz. Həmçinin, rəsmi “Kontakt Home” Facebook və kontakt_home Instagram səhifələrimizdə mesaj bölməsində bizə yazaraq müraciət etməyiniz də mümkündür.</p>
                    </div>
                </ul>
            </div>
        </div>
    </section>
</main>

