
@{
    ViewData["Title"] = "VerifyEmail";
}

<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6 col-md-offset-3 text-center ">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>
                                E-poçtu doğrulayın
                            </h2>
                            <span>Zəhmət olmasa Hesabı Doğrulamaq üçün E-poçta keçin</span>
                        </div>
                        <div class="login-form text-center">
                            <a asp-controller="Account" asp-action="Login">
                                Əsas səyfə
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->



